<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <script src="~/Scripts/Actions.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/actions")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-inverse">
        

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <h4 style="color:white; margin-right:10px;">Book Store</h4>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show data
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item"><a id="getBooksLink" data-url="@Url.Action("GetBooks", "Home")" onclick="getBooksAjax()">Books</a></li>
                        <li class="dropdown-item"><a id="getAuthorsLink" data-url="@Url.Action("GetAuthors", "Home")" onclick="getAuthorsAjax()">Authors</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    @RenderSection("scripts", required: false)
</body>
</html>
